body {
   background-color: white;
   color: navy; 
}



body, h1 {
  font-family: 'IBM Plex Sans', sans-serif;



}

a:link {
  text-decoration: none;
  color: black;
}

#title{
  letter-spacing: 10px;
  font-size: 100px;
  letter-spacing: 25px;
  font-weight: 400;
  font-style: normal;
  font-family: 'Roboto', sans-serif;



}
#name {
  letter-spacing: 10px;
  color: black;
  letter-spacing: 10px;
  font-weight: 400;
  font-style: normal;
  font-family: 'Roboto', sans-serif;

}
