body {
   background-color: #F2F3DF;
}

h1, {
font-family: 'Lora', serif;
color: navy;
}

body {
  font-family: 'Quicksand', sans-serif;
}

a:link {
  text-decoration: none;
  color: blue;
}

#name {
  letter-spacing: 2px;
}
