h1, h2{
    font-family: 'Quicksand', sans-serif;
}

h1{
  color: #E83429;
  font-size: 70px;
}

body {
  font-family: 'Vollkorn', serif;
}

#authorcontainer{
  width: -100px; 
}
#textcontainer {
  width: 600px;
}
