
#header {
  height:300px;
  width: 1680px;
  background-color: red;

}

#headercontainer{
  width:300px;
  margin: 20px auto;
}

#textcontainer{
  width:600px;
  margin: 0 auto;
}

h2 {
font-size: 100px;
padding-top: 175px;
margin: 0;
font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 150px;
  font-family: 'Kaushan Script', cursive;
}

body {
 font-family: 'Montserrat', sans-serif;
}

#date{
  width: 1px;
  position: absolute;
  top: 400px;
  left: -10px; 

}
