
h1, h2 {
  color: white;
  font-family: 'Playfair Display', serif;
}
h1 {
  font-size: 100px;
}
body {
  color: black;
  font-family: 'Raleway', sans-serif;
}

#header {
  height:300px;
  width: 1680px;
  background-color: DarkBlue;

}

#headercontainer{
  width:700px;
  margin: 20px auto;
}

#line{
  width: 112px;
  height: -40px;
  border-bottom: 1px solid white;
  position: absolute;
}

#textcontainer{
  width:600px;
  margin:0 auto;
}
