<head>
  <style>

h2{
  color: maroon;
  font-family: Avenir;
  font-size: 40px;

}


h1 {
  color: maroon;
  font-family: Avenir;
  font-size: 40px;
}

body{
  display: block;
  margin-left: 500;
  margin-right: 500;
  margin-top: 1em;
  margin-bottom: 1em;
  font-family: Avenir;
}



</style>
</head>
