body {margin: 0;}
#logo{
  /* position: absolute;
  top: 0;
  left: 0px; */
}
#thebestdessert{
  /* position: absolute;
  top: 155px;
  left: 200px; */
  letter-spacing: 10px;
}
h1 {
  font-family: gibbs,sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 80px;
  letter-spacing: 10px;
  margin-left: 70px;
}
h2 {
  font-family: gibbs,sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 40px;
}
p{
  font-size: 20px;
}

h3 {
  font-size: 25px;
}

 h3, p {
   color: white;
   font-family: gibbs,sans-serif;
   font-weight: 200;
   font-style: normal
 }
h4 {
  color: black;
}

 }
#logo
{
  /* width: 1440px; */
  /* marg 20px; */
  /* padding-right: 60px; */
  padding-bottom: 20px;
  /* padding-left: 600px; */

}

.header{
  /* width:1440px; */
  margin-left: 0;
  position: relative;
}

#cakebatter {
  /* width: 746px; */
  height: auto;
  position: absolute;
  top: 20px;
  right: 0;
}

.blackbox{
  background-color: black;
  /* height: 500px; */
  /* width: 1030px; */
  /* position: absolute; */
  /* top: 300px; */
  /* left: 0; */

  padding-top: 20px;
  padding-right: 100px;
  padding-bottom: 20px;
  padding-left: 75px;
}

.headertext{
  /* width: 538px; */
  /* height: 337px; */
}

.bodycontainer h3, .bodycontainer p{
  color: black;
}

/* img {max-width: 100%;} */
.pic{
  width: 25vw;
  float: left;
  height: 25vw;
  background-color: orange;
  margin: 10px;
}

#angelcake {
    background: url("pics/angelcake.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

#carrotcake {
  background: url("pics/carrotcake.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#choosingrightcake{


}

#redvelvet {
  background: url("pics/redvelvet.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#vanilla {
  background: url("pics/vanilla.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#germanchocolate {
  background: url("pics/germanchocolate.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#chocolate {
  background: url("pics/chocolate.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h4 {
  font-size: 20px;
  color: black;
  font-family: gibbs,sans-serif;
  font-weight: 200;
  font-style: normal
}
h5 {
  color: black;

}

/* #footer{
  background-color: black;
  height: 200px;
  width: 2500px;
  position: absolute;
  top: 2300px;
} */

#container {
  height: 600px;
  width: 600px;
}

.bodycontainer, .image-container {
  width: 75vw;
  margin: 0 auto;
}

  /* @media only screen and (max-width: 1024px) {

  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 30px;

  }


  }
} */
