#header {
  width: 1750px;
  height: 400px;
  background-color: black;
  float: left;
}
#textcontainer{
  width:600px;
  height: auto; 
}
h1, h2{
  font-family: 'Raleway', sans-serif;
  color: white;

}

h1 {
  font-size:80px;
}
 h2{
   font-size: 20px;
 }
