h1{
  font-family: 'Rubik', sans-serif;
}

.red{
  height: 100px;
  width: 100px;
  background-color: red;
  float: left;
}
.black{
  height: 100px;
  width: 100px;
  background-color: black;
  float: left; 
}
#container {
  width: 800px;
}
