body {
  background-color: lightyellow;
}

h1{
  font-family: 'Muli', sans-serif;
  font-size: 100px;
}

h2 {
  font-family: 'Muli', sans-serif;
  font-size: 50px;
}

p{
  font-family: 'Muli', sans-serif;
  font-size: 50px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px; 
}
.container {
  width:600px;
  margin:500px auto 0;
}
